{% extends 'studio/_layouts/index.twig' %}

{% set selectedSubnavItem = 'settings' %}

{% set baseCrumbs = [
    { label: 'Settings'|t('studio'), url: url('studio/settings') }
] %}
{% set crumbs = crumbs is defined ? baseCrumbs|merge(crumbs) : [] %}

{% set segment3 = craft.app.request.getSegment(3) %}

{% block sidebar %}

    <nav class="last">
        <ul>
            <li>
                <a class="{{ segment3 == 'general' ? 'sel' }}" href="{{ url('studio/settings/general') }}">
                    {{ 'General settings'|t('studio') }}
                </a>
            </li>
            <li>
                <a class="{{ segment3 == 'podcast-formats' ? 'sel' }}" href="{{ url('studio/settings/podcast-formats') }}">
                    {{ 'Podcast Formats'|t('studio') }}
                </a>
            </li>
            {% if craft.app.config.general.devMode %}
            <li>
                <a class="{{ segment3 == 'podcast-fields' ? 'sel' }}" href="{{ url('studio/import/podcast-fields') }}">
                    {{ 'Import Podcast fields'|t('studio') }}
                </a>
            </li>
            {% endif %}
            {% if craft.app.config.general.devMode %}
            <li>
                <a class="{{ segment3 == 'episode-fields' ? 'sel' }}" href="{{ url('studio/import/episode-fields') }}">
                    {{ 'Import Episode fields'|t('studio') }}
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
