{% extends 'studio/_layouts/index.twig' %}

{% set title = 'Episode settings for {name} - {site} site'|t('studio', params = {
  name: podcast.title,
  site: site.name
}) %}

{% set crumbs = [] %}

{% block content %}

    <div class="studio-info">
        <span class="info"></span> &nbsp; 
        {{ 'These settings only applies when importing episodes via asset index utility or resaving episodes via console'|t('studio') }} 
    </div>

    <br>

	{% import "_includes/forms" as forms %}

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/podcasts/index') }}
		{{ csrfInput() }}

		{{ hiddenInput('podcastId', podcastId) }}

        {{ hiddenInput('siteId', site.id) }}

		<input type="hidden" name="action" value="studio/podcasts/episode-settings-save">

		{{ forms.elementSelectField({
            label: 'Default episode image'|t('studio'),
            id: 'defaultImage',
            name: 'defaultImage',
            viewMode: 'list',
            elementType: 'craft\\elements\\Asset',
            selectionLabel: "Add"|t("studio"),
            sources: folder ?? null,
            required: false,
            errors: settings.getErrors('defaultImage'),
            limit: 1,
            elements: images,
            criteria: {kind: 'image'}
        }) }}

        {{ forms.selectField({
            label: 'Image field options'|t('studio'),
            id: 'imageOption',
            name: 'imageOption',
            options: imageOptions,
            value: settings.imageOption is defined ? settings.imageOption,
            required: false,
            errors: settings.getErrors('imageOption')      
        }) }}

		<hr>

		{{ forms.dateTimeField({
            label: 'Default episode release date'|t('studio'),
            id: 'defaultPubDate',
            name: 'defaultPubDate',
            required: false,
            errors: settings.getErrors('defaultPubDate'),
            value: settings.defaultPubDate is defined ? settings.defaultPubDate,
        }) }}

        {{ forms.selectField({
            label: 'pub Date field options'|t('studio'),
            id: 'pubDateOption',
            name: 'pubDateOption',
            options: pubDateOptions,
            value: settings.pubDateOption is defined ? settings.pubDateOption,
            required: false,
            errors: settings.getErrors('pubDateOption')      
        }) }}

        <hr>

        {{ forms.multiSelectField({
            label: 'Default episode genre'|t('studio'),
            id: 'defaultGenres',
            name: 'defaultGenres',
            options: genreOptions,
            values: settings.defaultGenres is defined ?  settings.defaultGenres,
            required: false,
        }) }}

		{{ forms.selectField({
            label: 'When to use default episode genre'|t('studio'),
            id: 'genreImportOption',
            name: 'genreImportOption',
            options: genreImportOptions,
            value: settings.genreImportOption is defined ? settings.genreImportOption,
            required: false,
            errors: settings.getErrors('genreImportOption'),
        }) }}

		{{ forms.lightswitchField({
            label: 'Ignore genres in meta if not available in list'|t('studio'),
            id: 'genreImportCheck',
            name: 'genreImportCheck',
            required: false,
            errors: settings.getErrors('genreImportCheck'),
            value: 1,
            on: settings.genreImportCheck is defined ? settings.genreImportCheck
        }) }}

		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

	</form>
{% endblock %}
{% js %}
$('#defaultGenres').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
    });
{% endjs %}

{% do view.registerAssetBundle("vnali\\studio\\assets\\StudioCssAsset") %}