{% extends 'studio/_layouts/index.twig' %}

{% set title = 'General settings for {name} - {site} site'|t('studio', params = {
  name: podcast.title,
  site: site.name
}) %}

{% set crumbs = [] %}

{% block content %}

	{% import "_includes/forms" as forms %}

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/podcasts/index?site=' ~ site.handle) }}
		{{ csrfInput() }}

		{{ hiddenInput('podcastId', podcastId) }}

		<input type="hidden" name="action" value="studio/podcasts/general-settings-save">

        <input type="hidden" name="siteId" value={{ site.id }}>

		{{ forms.lightswitchField({
            label: 'Publish RSS'|t('studio'),
            id: 'publishRSS',
            name: 'publishRSS',
            required: false,
            errors: settings.getErrors('publishRSS'),
            value: 1,
            on: settings.publishRSS is defined ? settings.publishRSS
        }) }}

        {{ forms.lightswitchField({
            label: 'Allow all to see published RSS'|t('studio'),
            id: 'allowAllToSeeRSS',
            name: 'allowAllToSeeRSS',
            required: false,
            errors: settings.getErrors('allowAllToSeeRSS'),
            value: 1,
            on: settings.allowAllToSeeRSS is defined ? settings.allowAllToSeeRSS
        }) }}

		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

	</form>
{% endblock %}