{% extends 'studio/_layouts/index.twig' %}

{% set title = 'General settings for {name} - {site} site'|t('studio', params = {
  name: podcast.title,
  site: site.name
}) %}

{% set crumbs = [] %}

{% block content %}

	{% import "_includes/forms" as forms %}

    {% if settings.dateUpdated %}
        {% set user = craft.users().id(settings.userId).one() %}
        <div class="studio-info">
            <span class="info"></span>
            {{ 'Last updated'|t('studio') }} {{ settings.dateUpdated|date('Y-m-d H:i T') }} {{ 'By'|t('studio') }} {{ user.name }}
        </div>
    {% endif %}

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/podcasts/index?site=' ~ site.handle) }}
		{{ csrfInput() }}

		{{ hiddenInput('podcastId', podcastId) }}

		<input type="hidden" name="action" value="studio/podcasts/general-settings-save">

        <input type="hidden" name="siteId" value={{ site.id }}>

		{{ forms.lightswitchField({
            label: 'Publish RSS'|t('studio'),
            id: 'publishRSS',
            name: 'publishRSS',
            required: false,
            errors: settings.getErrors('publishRSS'),
            value: 1,
            on: settings.publishRSS is defined ? settings.publishRSS
        }) }}

        {{ forms.lightswitchField({
            label: 'Allow all to see published RSS'|t('studio'),
            id: 'allowAllToSeeRSS',
            name: 'allowAllToSeeRSS',
            required: false,
            errors: settings.getErrors('allowAllToSeeRSS'),
            value: 1,
            on: settings.allowAllToSeeRSS is defined ? settings.allowAllToSeeRSS
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable OP3'|t('studio'),
            id: 'enableOP3',
            name: 'enableOP3',
            required: false,
            errors: settings.getErrors('enableOP3'),
            value: 1,
            on: settings.enableOP3 is defined ? settings.enableOP3
        }) }}

        <div><b>{{ 'Site'|t('studio') }}</b></div> 
        {{ site.name|t('app') }}

        <hr>

		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

	</form>
{% endblock %}
{% do view.registerAssetBundle("vnali\\studio\\assets\\StudioCssAsset") %}