{% extends 'studio/_layouts/index.twig' %}

{% set title = 'Import from RSS to {name}'|t('studio', params = {
  name: podcast.title,
}) %}

{% set crumbs = [] %}

{% block content %}

	{% import "_includes/forms" as forms %}

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/podcasts/index?site=' ~ site.handle) }}
		{{ csrfInput() }}

		{{ hiddenInput('podcastId', podcastId) }}
        {{ hiddenInput('siteId', site.id) }}

		<input type="hidden" name="action" value="studio/episodes/import-job">

		{{ forms.textField({
            label: 'URL'|t('app'),
            id: 'rssURL',
            name: 'rssURL',
            value: settings.rssURL,
            required: true,
            errors: settings.getErrors('rssURL'),
            tip: 'After saving this form, import begins and you can check import process on left buttom of CP'
        }) }}

        {{ forms.textField({
            label: 'Limit'|t('app'),
            id: 'limit',
            name: 'limit',
            value: settings.limit,
            required: false,
            errors: settings.getErrors('limit'),
            tip: 'Limit number of items that should fetch from RSS',
            type: 'number'
        }) }}

        
		{{ forms.lightswitchField({
            label: "Don't import episode's main asset"|t('studio'),
            id: 'ignoreMainAsset',
            name: 'ignoreMainAsset',
            on: settings.ignoreMainAsset,
            required: false,
            errors: settings.getErrors('ignoreMainAsset'),
            value: 1,
        }) }}

        {{ forms.lightswitchField({
            label: "Don't import episode's image asset"|t('studio'),
            id: 'ignoreImageAsset',
            name: 'ignoreImageAsset',
            on: settings.ignoreImageAsset,
            required: false,
            errors: settings.getErrors('ignoreImageAsset'),
            value: 1,
        }) }}

        {% if sites|length > 1 %}
            {{ forms.multiSelectField({
                label: 'Sites'|t('app'),
                id: 'siteIds',
                name: 'siteIds',
                options: sites,
                values: settings.siteIds,
                errors: settings.getErrors('siteIds'),
                required: true,
                tip: 'Specify which sites episodes are propagated to.'|t('studio'),
            }) }}
        {% else %}
            <div><b>{{ 'Site'|t('app') }}</b></div> 
            {{ sites[0]['label']|t('app') }}
            {{ hiddenInput('siteIds', sites[0]['value']) }}
        {% endif %}

		<hr>

		<input type="submit" class="btn submit" value="{{ 'Import'|t('studio') }}">

	</form>
{% endblock %}

{% js %}
$('#siteIds').selectize({
    plugins: ['remove_button'],
    dropdownParent: 'body'
});
{% endjs %}
