{% extends 'studio/_layouts/index.twig' %}

{% set title = 'Setting for Importing episodes to {name} by asset index'|t('studio', params = {
  name: podcast.title,
}) %}

{% set crumbs = [] %}

{% block content %}

	{% import "_includes/forms" as forms %}

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/podcasts/index') }}
		{{ csrfInput() }}

		{{ hiddenInput('podcastId', podcastId) }}

		<input type="hidden" name="action" value="studio/episodes/save-import-from-asset-index">

		{{ forms.multiSelectField({
            label: 'Volumes to import assets as episodes'|t('studio'),
            id: 'volumes',
            name: 'volumes',
            options: volumes,
            values: settings.volumes ?? null,
            required: false,
            tip: 'After saving this form, Go to Asset indexes utility to index volume and import assets/episodes',
            errors: settings.getErrors('volumes'),
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable'|t('studio'),
            tip: 'To disable importing episodes temporarily',
            id: 'enable',
            name: 'enable',
            required: false,
            errors: settings.getErrors('enable'),
            value: 1,
            on: enable is defined ? enable
        }) }}

        {% if sites|length > 1 %}
        {{ forms.multiSelectField({
            label: 'sites'|t('studio'),
            id: 'siteIds',
            name: 'siteIds',
            options: sites,
            values: settings.siteIds ?? null,
            errors: settings.getErrors('siteIds'),
        }) }}
        {% else %}
            {{ hiddenInput('siteIds', sites[0]['value']) }}
        {% endif %}

		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

	</form>
{% endblock %}
{% js %}
$('#volumes, #siteIds').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
    });
{% endjs %}
