<div style="height:100%;width:100%;padding:5px;background:rgb(226, 234, 243);overflow-y:auto">
    <p></p>
    <span id="newChapterBtnContainer"></span>&nbsp;&nbsp;
    <span id="newSoundbiteBtnContainer"></span>
    <p></p>
    <audio id="audioPreview" controls style="width: 100%;">
        <source src="{{ url }}" type="{{ asset.mimeType }}">
    </audio>
    <br>
    <div id="soundbiteContainer">
        <div id="soundbiteText">
            <b id="soundbiteHeader"></b>
            <br>
        </div>
    </div>
    <div id="chapterContainer">
        <div id="chapterText">
            <b id="chapterHeader"></b>
            <br>
        </div>
    </div>
<div>
{% js %}


    $(function () {

        var assetAudio = document.getElementById("audioPreview");
        assetAudio.volume = 0.2;

        var elementId = $("input[name='elementId']").val();
        if (!elementId) {
            return;
        }
        var data = {
            'elementId' : elementId,
        };

        $.ajax({
            method: "GET",
            url: Craft.getUrl("studio/default/get-page-context" + "?=_" + new Date().getTime()),
            data: data,
            dataType: 'json',
            success: function (data) {

                if (data.elementType == 'vnali\\studio\\elements\\Episode') {
                    var newChapterBtn = '<button type="button" id="new-chapter" class="btn submit">{{ "New Chapter"|t("studio") }}</button>';
                    var newSoundbiteBtn = '<button type="button" id="new-soundbite" class="btn submit start">{{ "Start Soundbite"|t("studio") }}</button>';
                    
                    $('#newSoundbiteBtnContainer').html(newSoundbiteBtn);
                    $('#newChapterBtnContainer').html(newChapterBtn);
                    
                    var $chapterForm = 
                    $('<form class="modal fitted lazy-create-modal">' + 
                        '<div class="header">' +
                            '<h1 class="chapterHeader"></h1>' +
                        '</div>' +
                        '<div class="body">' +
                            '{{ createChapter|e("js") }}' +
                        '</div>' +
                        '<div class="footer">' +
                            '<button type="button" class="btn submit save-chapter">{{ "save"|t("studio") }}</button>' +
                        '</div>' +
                    '</form>');

                    var $soundbiteForm = 
                    $('<form class="modal fitted lazy-create-modal">' + 
                        '<div class="header">' +
                            '<h1 class="soundbiteHeader"></h1>' +
                        '</div>' +
                        '<div class="body">' +
                            '{{ createSoundbite|e("js") }}' +
                        '</div>' +
                        '<div class="footer">' +
                            '<button type="button" class="btn submit save-soundbite">{{ "save"|t("studio") }}</button>' +
                        '</div>' +
                    '</form>');

                    $(".modal").on("click", "#new-chapter", function() {
                        if (data.chapterField == 'verbb\\supertable\\fields\\SuperTableField') {
                            $("div[data-attribute='episodeChapter']").find(".matrixLayoutContainer, .rowLayoutContainer, .superTable-table").next('.add').activate();
                        } else {
                            $("div[data-attribute='episodeChapter'] button[data-type='chapter']").click();
                        }

                        // Get hh:mm:ss format
                        seconds = Math.floor(assetAudio.currentTime);
                        const date = new Date(null);
                        date.setSeconds(seconds);
                        const hhmmss = date.toISOString().slice(11, 19);

                        // start time
                        if (Number.isInteger(assetAudio.currentTime)) {
                            startTimeFixed = assetAudio.currentTime;
                        } else {
                            startTimeFixed = assetAudio.currentTime.toFixed(3);
                        }

                        if (data.chapterField == 'verbb\\supertable\\fields\\SuperTableField') {
                            $("div[data-attribute='episodeChapter'] div[data-attribute='startTime']:last input").val(startTimeFixed);
                        } else {
                            $("div[data-attribute='episodeChapter'] div[data-type='chapter'] div[data-attribute='startTime']:last input").val(startTimeFixed);
                        }
                        assetAudio.pause();

                        var modal = new Garnish.Modal($chapterForm, {
                            onHide: function () {
                                modal.destroy();
                                delete modal;
                            },
                        });

                        setTimeout(function () {
                            $chapterForm.find('.text:first').focus();
                            modal.updateSizeAndPosition();

                            $(".chapterHeader").html(hhmmss);
                        }, 100);

                        $('.save-chapter').on('click', function (ev) {
                            chapterTitle = $('#chapterTitle').val();
                            if (data.chapterField == 'verbb\\supertable\\fields\\SuperTableField') {
                                $("div[data-attribute='episodeChapter'] div[data-attribute='chapterTitle']:last input").val(chapterTitle);
                            } else {
                                $("div[data-attribute='episodeChapter'] div[data-type='chapter'] div[data-attribute='chapterTitle']:last input").val(chapterTitle);
                            }
                            if (!$("#chapterHeader").val()) {
                                $("#chapterHeader").html("{{ 'Chapter'|t('studio') }}:");
                            }
                            $("#chapterText").append(hhmmss + '-' + chapterTitle + '</br>');
                            assetAudio.play();
                            modal.hide();
                        });

                        $chapterForm.find('.cancel-btn').on('click', function () {
                            modal.hide();
                            assetAudio.play();
                        });
                    });

                    var startSoundbite;
                    var stopSoundbite
                    var soundbiteModal;
                    $(".modal").on("click", "#new-soundbite", function() {

                        if ($("#new-soundbite").hasClass('start')) {
                            $("#new-soundbite").html('{{ "Stop Soundbite"|t("studio") }}');
                            $("#new-soundbite").addClass('stop').removeClass('start');
                            startSoundbite = assetAudio.currentTime;
                            assetAudio.play();
                            if (data.soundbiteField == 'verbb\\supertable\\fields\\SuperTableField') {
                                $("div[data-attribute='episodeSoundbite']").find(".matrixLayoutContainer, .rowLayoutContainer, .superTable-table").next('.add').activate();
                            } else {
                                $("div[data-attribute='episodeSoundbite'] button[data-type='soundbite']").click();
                            }

                            // start time
                            if (Number.isInteger(startSoundbite)) {
                                startTimeFixed = startSoundbite;
                            } else {
                                startTimeFixed = startSoundbite.toFixed(3);
                            }

                            if (data.soundbiteField == 'verbb\\supertable\\fields\\SuperTableField') {
                                $("div[data-attribute='episodeSoundbite'] div[data-attribute='startTime']:last input").val(startTimeFixed);
                            } else {
                                $("div[data-attribute='episodeSoundbite'] div[data-type='soundbite'] div[data-attribute='startTime']:last input").val(startTimeFixed);
                            }
                        } else if ($("#new-soundbite").hasClass('stop')) {
                            $("#new-soundbite").addClass('start').removeClass('stop');
                            $("#new-soundbite").html('{{ "Start Soundbite"|t("studio") }}');
                            stopSoundbite = assetAudio.currentTime;
                            assetAudio.pause();

                            duration = stopSoundbite - startSoundbite;
                            // Get hh:mm:ss format
                            seconds = Math.floor(duration);
                            const date = new Date(null);
                            date.setSeconds(seconds);
                            const hhmmss = date.toISOString().slice(11, 19);

                            if (Number.isInteger(duration)) {
                                durationFixed = duration;
                            } else {
                                durationFixed = duration.toFixed(3);
                            }

                            soundbiteModal = new Garnish.Modal($soundbiteForm, {
                                onHide: function () {
                                    soundbiteModal.destroy();
                                    delete soundbiteModal;
                                },
                            });

                            setTimeout(function () {
                                $soundbiteForm.find('.text:first').focus();
                                soundbiteModal.updateSizeAndPosition();

                                $(".soundbiteHeader").html("{{ 'Duration'|t('studio')}}" + ': ' + hhmmss);
                            }, 100);

                            if (data.soundbiteField == 'verbb\\supertable\\fields\\SuperTableField') {
                                $("div[data-attribute='episodeSoundbite'] div[data-attribute='duration']:last input").val(durationFixed);
                            } else {
                                $("div[data-attribute='episodeSoundbite'] div[data-type='soundbite'] div[data-attribute='duration']:last input").val(durationFixed);
                            }
                        }

                        $('.save-soundbite').on('click', function (ev) {
                            soundbiteTitle = $('#soundbiteTitle').val();
                            if (data.soundbiteField == 'verbb\\supertable\\fields\\SuperTableField') {
                                $("div[data-attribute='episodeSoundbite'] div[data-attribute='soundbiteTitle']:last input").val(soundbiteTitle);
                            } else {
                                $("div[data-attribute='episodeSoundbite'] div[data-type='soundbite'] div[data-attribute='soundbiteTitle']:last input").val(soundbiteTitle);
                            }
                            if (!$("#soundbiteHeader").val()) {
                                $("#soundbiteHeader").html("{{ 'Soundbite'|t('studio') }}:");
                            }
                            $("#soundbiteText").append(startSoundbite + ' - ' + stopSoundbite + ' - ' + soundbiteTitle + '</br>');
                            assetAudio.play();
                            soundbiteModal.hide();
                        });

                        $soundbiteForm.find('.cancel-btn').on('click', function () {
                            soundbiteModal.hide();
                            assetAudio.play();
                        });
                    });
                }
            }
        });
    });
{% endjs %}
