{% extends 'studio/_layouts/index.twig' %}

{% set selectedSubnavItem = 'import' %}

{% set baseCrumbs = [
    { label: 'Import'|t('studio'), url: url('studio/import') }
] %}
{% set crumbs = crumbs is defined ? baseCrumbs|merge(crumbs) : [] %}

{% set segment3 = craft.app.request.getSegment(3) %}

{% block sidebar %}

	<nav class="last">
		<ul>
			{% if currentUser.can('studio-importCategory') %}
				<li>
					<a class="{{ segment3 == 'category' ? 'sel' }}" href="{{ url('studio/import/category') }}">
						{{ 'Categories'|t('studio') }}
					</a>
				</li>
			{% endif %}
            {% if currentUser.can('studio-importPodcastTaxonomy') %}
				<li>
					<a class="{{ segment3 == 'podcast-taxonomy' ? 'sel' }}" href="{{ url('studio/import/podcast-taxonomy') }}">
						{{ 'Podcast taxonomies'|t('studio') }}
					</a>
				</li>
			{% endif %}
			{% if currentUser.can('studio-manageSettings') %}
				{% if craft.app.config.general.allowAdminChanges and craft.app.config.general.devMode %}
					<li>
						<a class="{{ segment3 == 'podcast-fields' ? 'sel' }}" href="{{ url('studio/import/podcast-fields') }}">
							{{ 'Sample podcast fields'|t('studio') }}
						</a>
					</li>
				{% endif %}
				{% if craft.app.config.general.allowAdminChanges and craft.app.config.general.devMode %}
					<li>
						<a class="{{ segment3 == 'episode-fields' ? 'sel' }}" href="{{ url('studio/import/episode-fields') }}">
							{{ 'Sample episode fields'|t('studio') }}
						</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</nav>
{% endblock %}
