{% extends 'studio/settings/_layout' %}

{% set title = 'Import podacst fields'|t('studio') %}

{% set crumbs = [] %}

{% block content %}

    {% import "_includes/forms" as forms %}

    <div class="studio-info">
        <span class="info"></span> &nbsp; 
        {{ 'Import sample podcast fields to a podcast format'|t('studio') }}
    </div>

	<form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ redirectInput('studio/settings/podcast-formats') }}
		{{ csrfInput() }}
        {{ forms.selectField({
            label: 'Podcast Format'|t('studio'),
            id: 'podcastFormat',
            name: 'podcastFormat',
            options: podcastFormats,  
            required: true
        }) }}
		<p>
			<input type="hidden" name="action" value="studio/import/import-podcast-fields">
			<input type="submit" class="btn submit" value="{{ 'Import'|t('studio') }}">
		</p>
	</form>
{% endblock %}
{% do view.registerAssetBundle("vnali\\studio\\assets\\StudioCssAsset") %}